button[disabled],.button[disabled] {
    background: #ccc;
    border-color: #ccc;
    text-shadow: none;
}

input.columns {
  margin-top: 3px;
}

body.container {
  margin-top: 10%;
}

input[type=radio] {
  display:none;
}

input[type=radio] + img{
  cursor:pointer;
  border:2px solid transparent;
}

input[type=radio]:checked + img{
  border:2px solid #f00;
}

label {
  display: inline;
}